---
---

@mixin rise-first-frame {
    opacity: 0;
    transform: translateY(1em);
}

@keyframes rise {
    0% {
        @include rise-first-frame;
    }
    10% {
        transform: translateY(1em);
    }
    20% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@function zero-based-animation-delay($delay, $index) {
    @return $delay * ($index - 1);
}

@mixin rise-animation($duration:1s, $n:1, $n-offset:1) {
    animation-delay:
        zero-based-animation-delay(0.5 * $duration, $n) +
        zero-based-animation-delay(0.5 * $duration, $n-offset);
    animation-duration: $duration;
    animation-fill-mode: forwards;
    animation-name: rise;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    52% {
        opacity: 0;
    }
    98% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@mixin blink-animation($interval) {
    animation-duration: $interval;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-timing-function: linear;
}

.about {
    $rise-animation-duration: 0.75s;
    $p-n: 3;
    $ul-n: 2;

    @for $n from 1 through $p-n {
        p:nth-child(#{$n}) {
            @include rise-first-frame;
            @include rise-animation($rise-animation-duration, $n);
        }
    }

    @for $n from 1 through $ul-n {
        ul:nth-child(#{n}) {
            @include rise-first-frame;
            @include rise-animation($rise-animation-duration, $n, $p-n);
        }
    }

    .shell {
        @include rise-first-frame;
        @include rise-animation($rise-animation-duration, 1, $p-n + $ul-n);

        a {
            text-decoration: none;

            code::after {
                @include blink-animation(2.4s);
                content: '_';
            }
        }
    }
}
