---
---

$media: (
    'desktop': (
        'viewport-breakpoint': 1280px,
        'font-size': 24px
    ),
    'tablet': (
        'viewport-breakpoint': 1024px,
        'font-size': 22px
    ),
    'mobile': (
        'font-size': 20px
    )
);

$unit-spacing: 1rem;
$unit-icon-size: 48px;

$display-color: hsl(230, 50, 50);
$display-font: 'JetBrains Mono', 'Courier New', Courier, monospace;
$text-background-color: white;
$text-color: black;
$text-font: Arimo, Arial, Helvetica, sans-serif;

$heading-font-size: (
    'h1': 1.375em,
    'h2': 1.25em,
    'h3': 1.125em,
    'h4': 1em,
    'h5': 0.875em,
    'h6': 0.75em
);

@mixin zero-spacing {
    margin: 0;
    padding: 0;
}

@mixin content-spacing {
    margin: 1rem 0;
    padding: 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

@mixin heading($level) {
    font-family: $display-font;
    font-size: map-get($heading-font-size, 'h' + $level);
    font-weight: bold;
    padding: $unit-spacing;
}

@mixin square($length) {
    height: $length;
    width: $length;
}

@function icon-frame-position($frame) {
    @return -($frame - 1) * $unit-icon-size;
}

@mixin icon($background-image, $frames:1) {
    &::before {
        @include square($unit-icon-size);
        background-image: $background-image;
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: cover;
        content: '';
        display: inline-block;
        margin-right: 0.5 * $unit-icon-size;
        transform: translateY(-0.06 * $unit-icon-size);
        vertical-align: middle;

        @if $frames > 1 {
            background-position-x: 0;
        }
    }

    &:hover::before {
        @if $frames > 1 {
            background-position-x: icon-frame-position($frames);
            transition: background-position 0.25s;
            transition-timing-function: steps($frames, jump-none);
        }
    }
}

html {
    font-size: map-get(map-get($media, 'desktop'), 'font-size');
}

body {
    @include zero-spacing;
    background-color: $text-background-color;
    color: $display-color;
    font-family: $text-font;
    line-height: 1.5;
}

.viewport {
    align-items: flex-start;
    display: flex;
    margin: auto;
    max-width: map-get(map-get($media, 'desktop'), 'viewport-breakpoint');

    > .top-level {
        margin: 1.25 * $unit-spacing;

        &:not(:first-child) {
            margin-left: 0.5 * $unit-spacing;
        }

        &:not(:last-child) {
            margin-right: 0.5 * $unit-spacing;
        }
    }
}

header.top-level {
    font-family: $display-font;
    position: sticky;
    top: 1.25 * $unit-spacing;

    .navigation {
        @include zero-spacing;
        list-style: none;
    }

    .link {
        @include zero-spacing;
        font-weight: normal;

        &.active, &:hover {
            font-weight: bold;
            position: relative;
        }

        &.heading a {
            @include icon(url('https://github.com/{{ site.github_username }}.png'));

            &::before {
                border-radius: 2px;
                box-shadow: 0 0 0 2px $display-color;
            }
        }

        &:not(.heading) a {
            @include icon(url('../icons/book.svg'), 6);
        }

        &.active a::before {
            background-position-x: icon-frame-position(6);
        }

        a {
            color: inherit;
            display: block;
            padding: $unit-spacing;
            text-decoration: none;
        }
    }
}

main.top-level {
    flex: 1;
}

.heading.top-level {
    @include zero-spacing;
    @include heading(1);
}

.content {
    color: $text-color;
    margin-bottom: 1.25 * $unit-spacing;
    padding: 0 $unit-spacing;

    @for $level from 1 through 6 {
        h#{$level} {
            @include heading($level);
            @include content-spacing;
        }
    }

    p {
        @include content-spacing;
    }
}

@media screen and
    (min-width: map-get(map-get($media, 'tablet'), 'viewport-breakpoint')) and
    (max-width: map-get(map-get($media, 'desktop'), 'viewport-breakpoint') - 1) {
    /* Tablet */

    html {
        font-size: map-get(map-get($media, 'tablet'), 'font-size');
    }

    .viewport > .top-level {
        margin: 0.5 * $unit-spacing;

        &:not(:first-child) {
            margin-left: 0;
        }

        &:not(:last-child) {
            margin-right: 0;
        }
    }

    header.top-level {
        top: 0.5 * $unit-spacing;

        .link:not(.heading) a {
            padding-bottom: 0.75 * $unit-spacing;
            padding-top: 0.75 * $unit-spacing;
        }
    }
}

@media screen and (max-width: map-get(map-get($media, 'tablet'), 'viewport-breakpoint') - 1) {
    /* Mobile */

    html {
        font-size: map-get(map-get($media, 'mobile'), 'font-size');
    }

    .viewport {
        align-items: stretch;
        flex-direction: column;

        > .top-level {
            margin: 0.75 * $unit-spacing 0;

            &:not(:first-child) {
                margin-left: 0;
            }

            &:not(:last-child) {
                margin-right: 0;
                margin-top: 0;
            }
        }
    }

    header.top-level {
        background-color: $text-background-color;
        border-bottom: thin solid $display-color;
        padding: (1.25 * $unit-spacing) 0;
        position: relative;
        top: 0;

        .heading {
            font-size: 1em;
        }
    }
}
