---
---

$media: (
    'desktop': (
        'viewport-breakpoint': 1280px,
        'font-size': 24px
    ),
    'tablet': (
        'viewport-breakpoint': 1024px,
        'font-size': 22px
    ),
    'mobile': (
        'font-size': 20px
    )
);

$unit-spacing: 1rem;
$unit-icon-size: 48px;
$unit-stroke-width: 2px;
$unit-border-radius: 4px;

$display-color: hsl(230, 50, 50);
$display-font: 'JetBrains Mono', 'Courier New', Courier, monospace;
$text-background-color: white;
$text-color: black;
$text-font: Arimo, Arial, Helvetica, sans-serif;
$link-color: hsl(215, 50, 50);
$link-color-negative: hsl(50, 100, 65);

$unit-border: $unit-stroke-width solid $display-color;

$heading-font-size: (
    'h1': 1.375em,
    'h2': 1.25em,
    'h3': 1.125em,
    'h4': 1em,
    'h5': 0.875em,
    'h6': 0.75em
);

@mixin zero-spacing {
    margin: 0;
    padding: 0;
}

@mixin zero-spacing-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin content-spacing {
    margin: 1rem 0;
    padding: 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

@mixin heading($level) {
    font-family: $display-font;
    font-size: map-get($heading-font-size, 'h' + $level);
    font-weight: bold;
    padding: $unit-spacing;
}

@mixin block-link {
    color: inherit;
    display: block;
    padding: $unit-spacing;
    text-decoration: none;
}

@mixin square($length) {
    height: $length;
    width: $length;
}

@mixin icon-vertical-align {
    transform: translateY(-0.0625 * $unit-icon-size);
    vertical-align: middle;
}

@function icon-frame-position($frame) {
    @return -($frame - 1) * $unit-icon-size;
}

@mixin icon($background-image, $frames:1, $duration:1s) {
    &::before {
        @include square($unit-icon-size);
        @include icon-vertical-align;
        background-image: $background-image;
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: cover;
        content: '';
        display: inline-block;
        margin-right: 0.5 * $unit-icon-size;

        @if $frames > 1 {
            background-position-x: 0;
        }
    }

    &:hover::before {
        @if $frames > 1 {
            background-position-x: icon-frame-position($frames);
            transition: background-position $duration;
            transition-timing-function: steps($frames, jump-none);
        }
    }
}

@mixin negative-contrast {
    background-color: $display-color;
    color: $text-background-color;

    a {
        color: $link-color-negative;
    }
}

html {
    font-size: map-get(map-get($media, 'desktop'), 'font-size');
}

body {
    @include zero-spacing;
    background-color: $text-background-color;
    color: $text-color;
    font-family: $text-font;
    line-height: 1.5;
}

code {
    font-family: $display-font;
}

.viewport {
    align-items: flex-start;
    display: flex;
    margin: auto;
    max-width: map-get(map-get($media, 'desktop'), 'viewport-breakpoint');

    > .top-level {
        margin: 1.25 * $unit-spacing;

        &:not(:first-child) {
            margin-left: 0.5 * $unit-spacing;
        }

        &:not(:last-child) {
            margin-right: 0.5 * $unit-spacing;
        }
    }
}

.heading {
    @include zero-spacing;
    @include heading(1);
    color: $display-color;
}

.navigation {
    color: $display-color;
    font-family: $display-font;

    &.top-level {
        position: sticky;
        top: 1.25 * $unit-spacing;
    }

    .list {
        @include zero-spacing-list;
    }

    .link {
        @include zero-spacing;
        font-weight: normal;

        &.active, &:hover {
            font-weight: bold;
            position: relative;
        }

        &.heading a {
            @include icon(url('https://github.com/{{ site.github_username }}.png'));

            &::before {
                border-radius: $unit-border-radius;
                box-shadow: 0 0 0 $unit-stroke-width $display-color;
            }
        }

        &:not(.heading) a {
            @include icon(url('../icons/book.svg'), 6, 0.25s);
        }

        &.active a::before {
            background-position-x: icon-frame-position(6);
        }

        a {
            @include block-link;
        }
    }
}

main.top-level {
    flex: 1;
}

.content {
    color: $text-color;
    margin-bottom: 2 * $unit-spacing;
    padding: 0 $unit-spacing;

    a {
        color: $link-color;
        font-weight: bold;
    }

    .navigation {
        margin-left: -$unit-spacing;
        margin-right: -$unit-spacing;

        a {
            font-weight: normal;

            &:hover {
                font-weight: bold;
            }
        }
    }

    @for $level from 1 through 6 {
        h#{$level} {
            @include heading($level);
            @include content-spacing;
        }
    }

    .subcontent, p, article, section, figure {
        @include content-spacing;
    }

    ol, ul {
        margin: $unit-spacing;
        padding-left: $unit-spacing;

        ol, ul {
            margin: 0;
            padding-left: 2 * $unit-spacing;
        }
    }

    figure {
        border: $unit-border;
        border-radius: $unit-border-radius;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 100%;

        img {
            height: auto;
            width: 100%;
        }

        figcaption {
            @include negative-contrast;
            padding: 0.5 * $unit-spacing;
        }
    }
}

.github-user {
    text-decoration: none;

    img {
        @include icon-vertical-align;
        border: $unit-border;
        border-radius: $unit-border-radius;
        margin: 0.25em;
        margin-left: 0;
    }
}

.project {
    figure {
        @include zero-spacing;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .details {
        @include zero-spacing;
        border: $unit-border;
        display: flex;

        &:last-child {
            border-bottom-left-radius: $unit-border-radius;
            border-bottom-right-radius: $unit-border-radius;
        }

        h4 {
            @include zero-spacing;
            border-right: $unit-border;
            padding: 0.5 * $unit-spacing;
        }

        ul {
            @include zero-spacing-list;
            flex: 1;
            padding: 0.5 * $unit-spacing;

            li {
                display: inline-block;

                &:not(:last-child):after {
                    content: ',';
                }
            }
        }
    }

    .details:nth-child(2n + 1) {
        @include negative-contrast;

        h4 {
            border-color: $text-background-color;
        }
    }
}

.contact.navigation .link a {
    @include icon(url('../icons/chat.svg'), 6, 0.25s);
}

@media screen and
    (min-width: map-get(map-get($media, 'tablet'), 'viewport-breakpoint')) and
    (max-width: map-get(map-get($media, 'desktop'), 'viewport-breakpoint') - 1) {
    /* Tablet */

    html {
        font-size: map-get(map-get($media, 'tablet'), 'font-size');
    }

    .viewport > .top-level {
        margin: 0.5 * $unit-spacing;

        &:not(:first-child) {
            margin-left: 0;
        }

        &:not(:last-child) {
            margin-right: 0;
        }
    }

    .navigation {
        &.top-level {
            top: 0.5 * $unit-spacing;
        }

        .link:not(.heading) a {
            padding-bottom: 0.75 * $unit-spacing;
            padding-top: 0.75 * $unit-spacing;
        }
    }
}

@media screen and (max-width: map-get(map-get($media, 'tablet'), 'viewport-breakpoint') - 1) {
    /* Mobile */

    html {
        font-size: map-get(map-get($media, 'mobile'), 'font-size');
    }

    .viewport {
        align-items: stretch;
        flex-direction: column;

        > .top-level {
            margin: 0.75 * $unit-spacing 0;

            &:not(:first-child) {
                margin-left: 0;
            }

            &:not(:last-child) {
                margin-right: 0;
                margin-top: 0;
            }
        }
    }

    .navigation {
        &.top-level {
            background-color: $text-background-color;
            border-bottom: $unit-border;
            padding: (1.25 * $unit-spacing) 0;
            position: relative;
            top: 0;
        }

        .heading {
            font-size: 1em;
        }
    }
}
